- @title = "Stealth Canvas Test"

- content_for :meta do
  %script{:type=>"text/javascript", :src=>"/javascripts/game.js"}
  %style{:type=>"text/css"}
    :sass
      body
        margin: 0
        padding: 0
        overflow: hidden
      canvas
        position: absolute
        margin: 0

%canvas#canvas