<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <script type="text/javascript" src="/javascripts/prototype.js"></script>
    <%= yield :meta %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
